:root {
  /* Colors */
  --dark-blue: #0B1146;
  --soft-blue:#555B98;
  --dark-green:#195702;
  --soft-green: #75BC5B;
  --dark-red:#600211;
  --soft-red:#D06576;
}


.CreateTodoButton{
    background-color:var(--dark-blue);
    box-shadow:0 5px 25px var(--soft-blue);
    border:none;
    border-radius:50%;
    cursor:pointer;
    font-size:50px;
    position:fixed;
    bottom:50px;
    right:50px;
    font-weight:700;
    color:#fafafa;
    display:flex;
    justify-content:center;
    align-items:center;
    height:64px;
    width:64px;
    transform:rotate(0);
    transition:.3s ease
}
.CreateTodoButton:hover{
  transform:rotate(360deg)
}